@import "tailwindcss";

.font-bricolage {
  font-family: "Bricolage Grotesque", "Roboto", sans-serif;
}
body {
  background: rgb(0, 0, 0);
}

canvas {
  pointer-events: initial;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 100vh;
  pointer-events: none;
  z-index: 2;
  position: relative;
  text-transform: uppercase;
}

.text-outline-gray {
  text-shadow: 0 0 2px black, 1px 1px 2px rgba(0, 0, 0, 0.4); /* sombra ligera */
}
